<h1>{{title}}</h1>
<div style="width: 100%;">
        <div style="width: 50%; height: 100px; float: left;"> 
           <p>He was the most incredible person in the world.  </p>
            <p>Miss you DAD</p> 
        </div>
        
</div>  