<h1>{{title}}</h1>
<div style="width: 100%;">
        <div style="width: 50%; height: 100px; float: left;"> 
           <p>My mother is my heartbeat. There is not a single day that i cant sty without talking to her since i don't stay with her anymore </p>
            <p> She is a house wife at the moment taking care of my little brother. she is so beautiful and i love her the most</p> 
        </div>
        <div style="margin-left: 50%; height: 100px;"> 
            <img src="/images/kinnary.jpg" alt="yash" style="height: 300px">
        </div>
</div>  