<h1>{{title}}</h1>
<div style="width: 100%;">
        <div style="width: 50%; height: 100px; float: left;"> 
           <p>Yash is the only family memeber that is so close to me. He is a year younger than me. </p>
            <p> He completed his Bachelors degree in computer application and at the moment he is waiting for his application to be accepted by the US university</p> 
        </div>
        <div style="margin-left: 50%; height: 100px;"> 
            <img src="/images/yash.jpg" alt="yash" style="height: 300px">
        </div>
</div>  